/*	CONTENT BLOCK 3-4
/*----------------------------------------------------*/
.content-3-4{
	background-color:#fff;
}

.img-span {
	background: url("../images/skyline.jpg") center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding: 140px 0;
	min-height: 500px;
	
}
.content-3-4 .panel-default{
	background-color:#fff;
}
.content-3-4 .panel-toggle{
	background-color:#fff;
}
.content-3-4 .panel{
	background-color:#fff;
}
.content-3-4 .panel-collapse{
	background-color:#fff;
}
.content-3-4 .panel-group{
	background-color:#fff;
}
.content-3-4 .panel-heading{
	background-color:#000;
}
.content-3-4 .panel-title{
	background-color:#fff;
}







/*	CONTENT BLOCK 3-4 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
	
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	
	
}