/*	CONTENT BLOCK 1-1
/*----------------------------------------------------*/

.content-1-1c {
	background: url("../images/skyline.jpg") center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content-1-1c .container {
	margin-top: 220px;
}

.content-1-1c h1 {
	text-transform: uppercase;
	font-weight: 300;
	color: #FFF;
}