/*	CONTENT BLOCK 3-4
/*----------------------------------------------------*/
.content-3-4{
	background-color:#000;
}
.img-span {
	background-image: url("../images/skyline.jpg");
	background-size: cover !important;
	min-height: 700px;
}
.content-3-4 .panel-default{
	background-color:#000;
}
.content-3-4 .panel-toggle{
	background-color:#000;
}
.content-3-4 .panel{
	background-color:#000;
}
.content-3-4 .panel-collapse{
	background-color:#000;
}
.content-3-4 .panel-group{
	background-color:#000;
}
.content-3-4 .panel-heading{
	background-color:#000;
}
.content-3-4 .panel-title{
	background-color:#000;
}







/*	CONTENT BLOCK 3-4 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
	
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	
	
}