/*Main file for styling*/

/*Shrinidhi Thirumalai, Zubin Mehta
The India Initiative 2015*/

.slide1 {
background: "img/delhi.jpg"
}

.slide2 {
background: "img/children.jpg"
}

.slide3 {
background: "img/bwchildren.jpg"
}

.slide4 {
background: "img/skyline.jpg"
}
