/*Main file for styling*/

/*Shrinidhi Thirumalai, Zubin Mehta
The India Initiative 2015*/


.slide {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
	background-image: url(../img/bridge.jpg);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

@media(min-width:768px) {
    .slide {
        min-height: 100%;
    }

.slide1 {
background-image: url(../img/delhi.jpg);
}

.slide2 {
background-image: url(../img/children.jpg);
}

.slide3 {
background-image: url(../img/bwchildren.jpg)
}

.slide4 {
background-image: url(../img/skyline.jpg)
}
